.request-list {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: 5px 0;
  margin-left: 8px;
  box-shadow: 1px 1px 8px gray;
  border-radius: 8px;
  padding: 10px;

}

.requester-name {
  font-size: 20px;
  font-weight: 600;
}

.add-friend {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  background-color: rgb(24, 142, 251);
}

.deny-friend {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  background-color: rgb(182, 182, 182);
}

.left-profile {
  flex-direction: column;
}

.requester-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;

}

.accept-btns {
  display: flex;
}
