.login-form-container {
  min-width: 900px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
  background-color: #e8eaec;
 }

 .login-form {
   background-color: white;
   display: flex;
   box-shadow: 3px 3px 8px 2px #888888;
   border-radius: 8px;
   padding: 5px;
 }

 .login-home-page {
  display: flex;
  flex-direction: column;

} 

 .login-form-title {
   font-size: 80px;
   font-weight: 700;
   padding-left: 10px;
   color: rgb(57, 115, 250);
 }

 .login-message {
   font-size: 28px;
   padding-left: 12px;
   font-family: sans-serif;
 }

 .login-form-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 300px;
 }

 .login-form-header {
  color:  rgb(57, 115, 250);
  font-family: sans-serif;
 }
 
 .login-form-input{
  font-size: 20px;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  
 }


 .login-form-btn {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  background-color:  rgb(57, 115, 250);
  border-radius: 8px;
  border: 1px solid black;
  margin: 5px 0;
  height: 50px;
 }

 #border {
   border-bottom: 1px solid gray;
   display: flex;
   width: 100%;
   padding: 5px 0;
 }

 .login-form-btn:hover {
   background-color:  rgb(50, 50, 187);
 }


 .login-form-signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  background-color: rgb(43, 204, 43);
  border-radius: 8px;
  margin-top: 25px;
  border: 1px solid black;
  height: 50px;
 }

 .login-form-signup-btn:hover {
   background-color: rgb(33, 177, 33);
 }

.gender-signup {
  display: flex;
  justify-content: space-evenly;

}

.signup-label {
  font-family: sans-serif;
  font-size: 20px;
}

.signup-radio {
  font-family: sans-serif; 
  font-size: 20px; 
}



 