.greeting-container {
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 10px gray;
}

.navbar {
  display: flex;
}

.navbar-left {
  display: flex;
}

.search-bar { 
  background-color: rgb(237, 238, 241);
  border-radius: 35px;
  height: 70%;
  width: 250px;
  font-size: 22px;
  margin: 8px 0;
  padding-left: 12px;
}


.greeting-header {
  display: flex;
}

.greeting-logout-btn {
  padding: 10px;
}

.greeting-username {
  padding-right: 5px;
}

.fa-caret-down {
  font-size: 20px;
}
.fa-plus {
  background-color: rgb(209, 212, 209);
  color: rgb(19, 18, 18);
  padding: 10px;
  margin: 8px 5px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
}

.fa-message {
  background-color: rgb(209, 212, 209);
  color: rgb(19, 18, 18);
  padding: 10px;
  margin: 8px 5px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
}

.fa-bell {
  background-color: rgb(209, 212, 209);
  color: rgb(19, 18, 18);
  padding: 10px;
  margin: 8px 5px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
}


.dropbtn {
  background-color: rgb(209, 212, 209);
  color: rgb(19, 18, 18);
  padding: 10px;
  margin: 8px 5px;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 4px;
  z-index: 1 !important;
}

.dropdown-content button {
  color: black;
  display: block;
  z-index: 1 !important;
  width: 140px;
}

.dropdown-content button:hover {
  background-color: #ddd;
  border-radius: 8px;
}

/* .dropdown:hover .dropdown-content {
  display: block;
  z-index: 1 !important;
} */

.show-dropdown {
  display: block;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
}

#user-name {
  font-family: sans-serif;
  font-size: 20px;

}

#syp {
  font-family: sans-serif;
  color: rgb(184, 183, 183);
}

.dropdown:hover .dropbtn {
  color: #1e68ca;
}

.dropdown-profile-link {
  display: flex;
  flex-direction: row;
}

.user-profile-dp {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-profile-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.nav-bar-pfp {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

.navbar-profile-link {
  width: 110px;
  /* background-color: aqua; */
  border-radius: 20px;
  /* display: flex; */
  flex-direction: row;
}

.navbar-prp-link {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  /* padding-left: 3px; */
  /* margin-right: 8px; */
}

.navbar-prp-link:hover {
  border-radius: 20px;
  background-color: rgb(224, 224, 224);
}

.navbar-username {
  margin-top: 8px;
  font-family: sans-serif;
}