.timeline-intro-content {
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px gray;
  border-radius: 8px;
  padding: 10px;
}

.timeline-header {

}

.timeline-header-text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}

.intro-body {
    font-family: sans-serif;
    font-size: 14px;
}

.intro-body-text{
    font-family: sans-serif;
    font-size: 18px;
}

.intro-icon {
    font-size: 24px;
    margin-right: 5px;
}

.no-intro-body { 

}

.intro-form {

}

.intro-edit-button{
    box-shadow: 1px 1px 4px gray;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
}

.intro-buttons {

}

.cancelled {
    box-shadow: 1px 1px 4px gray;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
}

.save-changes {
    box-shadow: 1px 1px 4px gray;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    margin-left: 8px;
}